package ${package};
// ================================================================================================================================
//     PROJECT: ${project}
//    FILENAME: ${filename}
//         IDE: ${ide}
//      AUTHOR: ${author}
//        DATE: ${date}
//
// Copyright © ${year} Project Galen. All rights reserved.
//
// Permission to use, copy, modify, and distribute this software for any purpose with or without fee is hereby granted, provided
// that the above copyright notice and this permission notice appear in all copies.
//
// THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR
// CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
// NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
// ================================================================================================================================

import org.jetbrains.annotations.NotNull;

/**
 * Represents an operation that accepts a single {@code ${type}}-valued argument and
 * returns no result.  This is the primitive type specialization of
 * {@link com.projectgalen.lib.utils.functions.ConsumerEx} for {@code ${type}}.  Unlike most other functional interfaces,
 * {@code ${className}} is expected to operate via side-effects.
 *
 * <p>This is a functional interface whose functional method is {@link #[[#accept]]#(${type})}.
 *
 * @param <E> the type of the thrown exceptions
 *
 * @see com.projectgalen.lib.utils.functions.ConsumerEx
 */
@SuppressWarnings("unused")
@FunctionalInterface
public interface ${className}<E extends Exception> {

    /**
     * Performs this operation on the given argument.
     *
     * @param value the input argument
     * @throws E if an error ocurrs.
     */
    void accept(${type} value) throws E;

    /**
     * Returns a composed {@code ${className}} that performs, in sequence, this
     * operation followed by the {@code after} operation. If performing either
     * operation throws an exception, it is relayed to the caller of the
     * composed operation.  If performing this operation throws an exception,
     * the {@code after} operation will not be performed.
     *
     * @param after the operation to perform after this operation
     * @return a composed {@code ${className}} that performs in sequence this
     * operation followed by the {@code after} operation
     * @throws NullPointerException if {@code after} is null
     */
    default @NotNull ${className}<? extends E> andThen(@NotNull ${className}<? extends E> after) {
        return (${type} t) -> { accept(t); after.accept(t); };
    }
}
